<!DOCTYPE html>
<html>
    <head>
        <title>Aidan Vesci's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Aidan Vesci's Blog</a></h1>
        </header>

        <article>
            <time>published: 31.05.2025, 14:52</time>
            <h2><a href="">My first post</a></h2>
            <p>Welcome to my first blog post! Hope you enjoy.</p>
        </article>

        <article>
            <time>published: 31.05.2025, 14:52</time>
            <h2><a href="">My second post</a></h2>
            <p>This is my second post. This is just a test post.</p>
        </article>
    </body>
</html>